# User-provided optimal wireless configuration for WiFi Pineapple MKVII.
# This configuration is tailored for the specific hardware and use case.

config wifi-device 'radio0'
        option type 'mac80211'
        option path 'platform/10300000.wmac'
        option band '2g'
        option htmode 'HT20'
        option cell_density '0'
        option disabled '0'
        option txpower '30'
        option country 'GY'
        option channel '6'

config wifi-iface
        option device 'radio0'
        option ifname 'wlan0'
        option network 'lan'
        option mode 'ap'
        option ssid 'Pine-Guest'
        option mac '00:A0:C9:FF:CF:DD'
        option encryption 'none'
        option isolate '0'
        option wmm '1'
        option hidden '0'
        option disassoc_low_ack '0'
        option beacon_int '50'
        option ap_max_inactivity '300'
        option ieee80211k '1'
        option ieee80211v '1'
        option bss_transition '1'
        option time_advertisement '2'
        option time_zone 'CET-1CEST,M3.5.0,M10.5.0/3'
        option macaddr '24:81:3B:20:A9:C2'
        option disabled '1'
        option wpa_disable_eapol_key_retries '0'

config wifi-iface
        option device 'radio0'
        option ifname 'wlan0-1'
        option network 'lan'
        option mode 'ap'
        option ssid 'MK7-ADMIN'
        option mac 'A0:04:60:DE:AD:BE'
        option encryption 'sae-mixed'
        option key '2b9e87d50c'
        option ieee80211r '1'
        option mobility_domain 'a1b2'
        option hidden '0'
        option isolate '0'
        option wmm '1'
        option disabled '0'
        option disassoc_low_ack '0'
        option beacon_int '50'
        option ieee80211k '1'
        option ieee80211v '1'
        option bss_transition '1'
        option time_advertisement '2'
        option time_zone 'CET-1CEST,M3.5.0,M10.5.0/3'
        option wpa_disable_eapol_key_retries '0'

config wifi-iface
        option device 'radio0'
        option ifname 'wlan0-2'
        option network 'lan'
        option mode 'ap'
        option ssid 'PineyPrise'
        option encryption 'wpa2'
        option mac 'EC:BB:78:3C:4D:5E'
        option hidden '0'
        option disabled '1'
        option isolate '0'
        option wmm '1'
        option disassoc_low_ack '0'
        option beacon_int '50'
        option ieee80211k '1'
        option ieee80211v '1'
        option bss_transition '1'
        option time_advertisement '2'
        option time_zone 'CET-1CEST,M3.5.0,M10.5.0/3'
        option macaddr 'EC:BB:78:3C:4D:5E'
        option wpa_disable_eapol_key_retries '0'
        option server '127.0.0.1'
        option port '1812'
        option key 'i_god_damn_love_pineapples'
        option auth_cache '1'
        option wpa_group_rekey '600'

config wifi-iface
        option device 'radio0'
        option ifname 'wlan0-3'
        option network 'lan'
        option mode 'ap'
        option mac '74:3A:EF:0C:F8:39'
        option isolate '0'
        option wmm '1'
        option hidden '0'
        option disassoc_low_ack '0'
        option beacon_int '50'
        option ieee80211k '1'
        option ieee80211v '1'
        option bss_transition '1'
        option ssid 'Telenor2651fyr'
        option macaddr '5C:6A:80:28:FC:FF'
        option encryption 'psk2+ccmp'
        option key '2b9e87d50c'
        option disabled '0'
        option wpa_disable_eapol_key_retries '0'

config wifi-device 'radio1'
        option type 'mac80211'
        option path 'platform/101c0000.ehci/usb1/1-1/1-1.1/1-1.1:1.0'
        option band '2g'
        option channel '6'
        option htmode 'HT20'
        option country 'GY'
        option txpower '30'
        option cell_density '0'
        option disabled '0'
        option country_ie '1'

config wifi-iface
        option device 'radio1'
        option ifname 'wlan1'
        option mode 'monitor'
        option network 'wan'
        option mac 'A0:AD:9F:00:FE:00'
        option disabled '0'
        option wpa_disable_eapol_key_retries '0'

config wifi-device 'radio2'
        option type 'mac80211'
        option path 'platform/101c0000.ehci/usb1/1-1/1-1.2/1-1.2:1.0'
        option band '2g'
        option channel '1'
        option htmode 'HT20'
        option country 'GY'
        option txpower '30'
        option cell_density '0'
        option disabled '0'
        option country_ie '1'

config wifi-iface
        option device 'radio2'
        option ifname 'wlan2'
        option network 'wcli'
        option mode 'sta'
        option mac 'A0:AD:9F:01:FD:33'
        option disabled '0'
        option wpa_disable_eapol_key_retries '0'